{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{if company:}}
<h3>{{=company.name}} ({{=company.stock_symbol}})</h3>
{{else:}}
<h3>This is the company/financials.html template</h3>
{{pass}}

{{if company:}}
<p>Sector: {{=A(company.sector.name, _href=URL(c="sector", vars=dict(catid=company.sector.catid)))}}</p>
{{pass}}

{{if financials_count:}}
  Statements {{=B(current_financial_stmt)}} through {{=B(through_financial_stmt)}} of {{=B(financials_count)}}
  {{for financial_stmt in financials:}}
    <p>{{=financial_stmt}}</p>
  {{pass}}
  <div class="pagination pagination-mini">
    <ul>
      {{for paginate in pagination:}}
      {{=paginate}}
      {{pass}}
    </ul>
  </div>
{{else:}}
  No financials found.
{{pass}}

{{block left_sidebar}}
{{ =sidebar_menu }}
{{end}}

{{block right_sidebar}}
This is the right sidebar.
{{end}}

