{{left_sidebar_enabled=True}}
  {{right_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{if is_root:}}
  <h3>This is the sector/index.html template.</h3>
{{elif sector:}}
  <h3>{{=sector.name}} ({{=sector.catid}})</h3>
{{pass}}

{{if company_count:}}
  Companies {{=B(current_company)}} through {{=B(through_company)}} of {{=B(company_count)}}
  <div class="pagination pagination-mini">
    <ul>
      {{for paginate in pagination:}}
      {{=paginate}}
      {{pass}}
    </ul>
  </div>
  <table>
    <tbody>
    {{for n, company in enumerate(companies):}}
      {{if n%1:}}
        <tr class="odd">
      {{else:}}
        <tr class="even">
      {{pass}}
          <td>
            {{=A("{} ({})".format(company.name, company.stock_symbol), _href=URL(c="company", vars=dict(stock_symbol=company.stock_symbol)))}}
          </td>
        </tr>
    {{pass}}
    </tbody>
  </table>
  <div class="pagination pagination-mini">
    <ul>
      {{for paginate in pagination:}}
      {{=paginate}}
      {{pass}}
    </ul>
  </div>
{{else:}}
  {{if not is_root:}}
    No companies found.
  {{pass}}
{{pass}}


{{block left_sidebar}}
  {{ =sidebar_menu }}
{{end}}

{{block right_sidebar}}
  {{if ancestors:}}
    <h4>Supersectors</h4>
    <table>
      <tbody>
      {{for n, supersector in enumerate(ancestors):}}
        {{if n%1:}}
          <tr class="odd">
        {{else:}}
          <tr class="even">
        {{pass}}
            <td>
              <a href="?catid={{=supersector.catid}}">{{=supersector.name}} ({{=supersector.catid}})</a>
            </td>
          </tr>
      {{pass}}
      </tbody>
    </table>
  {{elif not is_root:}}
    <h4><a href="{{=URL('sector', 'index')}}">Back to overview</a></h4>
  {{pass}}

  {{if subsectors:}}
    <h4>Subsectors</h4>
    <table>
      <tbody>
      {{for n, subsector in enumerate(subsectors):}}
        {{if n%1:}}
          <tr class="odd">
        {{else:}}
          <tr class="even">
        {{pass}}
            <td>
              <a href="?catid={{=subsector.catid}}">{{=subsector.name}} ({{=subsector.catid}})</a>
            </td>
          </tr>
      {{pass}}
      </tbody>
    </table>
  {{pass}}
{{end}}

